In [21]:
import pandas as pd

In [22]:
df = pd.read_csv("./Data Potensi Pemain Basket.csv",delimiter=";")

In [23]:
df = df.drop("ID",axis=1) 
df = df.iloc[:, :-1]

In [24]:
df

     Height (cm)  Weight (kg)  Vertical Jump (cm) Potential
0            172           63                  45    Medium
1            180           75                  48      High
2            165           55                  40       Low
3            185           80                  50      High
4            170           62                  42    Medium
..           ...          ...                 ...       ...
512          167           61                  30       Low
513          162           57                  31       Low
514          160           55                  27       Low
515          164           58                  29       Low
516          165           59                  32       Low

[517 rows x 4 columns]

In [25]:
rows_with_nan = df[df.isna().any(axis=1)]

In [26]:
df.to_csv('Data Potensi Pemain Basket Tingkat SMA after preprocessing.csv', sep=';', index=False)